* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #eee;
  }
  
  .typing.animate {
    width: 21ch;
    border-right: 0.1em solid black;
    font-family: monospace;
    font-size: 2em;
    animation: type 2.5s steps(20), writer 1s infinite alternate, delete 0.8s steps(6) 2.5s, type2 1s steps(6) 3s forwards, type3 4s steps(54, end) 6s forwards;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
  }
  
  .typing.animate::before { 
    content: "Hello, I'm Jovan Jhon";
    animation: type2 1s steps(4) 3s forwards, type3 3s steps(22, end) 6s forwards;
  }
  
  @keyframes type {
    from {
      width: 0;
    }
    to {
      width: 21ch;
    }
  }
  
  @keyframes type2 {
    from {
      width: 16ch;
      content: "Hello, I'm Jovan John. "
    }
    to {
      width: 22ch;
      content: "Hello, I'm Jovan John. "
    }
  }
  
  @keyframes type3 {
    from {
      width: 22ch;
      content: "Hello, I'm Jovan John. This is my personal portfolio!"
    }
    to {
      width: 54ch;
      content: "Hello, I'm Jovan John. This is my personal portfolio!"
    }
  }
  
  @keyframes writer {
    50% {
      border-color: transparent;
    }
  }
  
  @keyframes delete {
    from {
      width: 21ch;
    }
    to {
      width: 16ch;
    }
  }